[Desktop Entry]
Name=Katerial
X-KDE-PluginInfo-Author=Jennifer Dupaquier
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=jenn.mawet@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Katerial
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/jmawet/katerial
