[Unit]
Description=Caelestia Update Checker Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/caelestia-check-updates
